<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kbstar.mapper.ChartMapper">
    <select id="getMonthlyTotal" resultType="chart">
        <![CDATA[
        select to_number(to_char(rdate,'MM')) as month, gender,sum(price) as total
        from sales
        group by to_number(to_char(rdate,'MM')), gender
        order by 1
        ]]>
    </select>
    <select id="getMonthlyTotal" resultType="chart">
        <![CDATA[
        select to_number(to_char(rdate,'MM')) as month, gender,sum(price) as total
        from sales
        group by to_number(to_char(rdate,'MM')), gender
        order by 1
        ]]>
    </select>

</mapper>